.col-md-3.escort-block-out{id: "escort#{escort.id}"}
  .escort-block-in.text-center
    = link_to new_appointment_path(escort_ID: escort.id), remote:true do
      = image_tag "escort-pics/escort#{escort.id}.png", width:'200px'

    -#
      %div.carousel.slide{id:"carousel-escort#{escort.id}", data:{ride:"carousel"}}
        -# Indicators
        %ol.carousel-indicators
          %li.active{data:{target:"#carousel-escort#{escort.id}", slide:{to:"0"}}}
          %li{data:{target:"#carousel-escort#{escort.id}", slide:{to:"1"}}}

        -# Wrapper for slides
        .carousel-inner{role:"listbox"}
          .item.active
            = image_tag "escort-pics/"+escort.username+"-1.png", alt:"#{escort.username}'s picture"
            .carousel-caption
              %p= escort.username
          .item.active
            = image_tag "escort-pics/"+escort.username+"-2.png", alt:"#{escort.username}'s picture"
            .carousel-caption
              %p= escort.username
        -# controls
        %a.left.carousel-control{href:"#carousel-escort#{escort.id}", role:"button", data:{slide:"prev"}}
          %span.glyphicon.glyphicon-chevron-left{aria:{hidden:"true"}}
          %span.sr-only Previous
        %a.right.carousel-control{href:"#carousel-escort#{escort.id}", role:"button", data:{slide:"next"}}
          %span.glyphicon.glyphicon-chevron-right{aria:{hidden:"true"}}
          %span.sr-only Previous
