.container.text-center
  %h1= @escort.username

  .row
    .col-md-2.col-md-offset-2.info
      %p #{@escort.ethnicity}
      %p #{Time.now.year - @escort.dob.year} years old
      %p #{@escort.height} inches
      %p #{@escort.weight} pounds

    .col-md-4.img
      = image_tag "escort-pics/escort#{@escort.id}.png", width:'300px'

    .col-md-2.info
      %p #{@escort.eyec} eyes
      %p #{@escort.hairc} hair
      %p #{@escort.tit_type} breasts
      %p #{@escort.tit_size} cup

  = form_for @appointment, html:{role:"form"} do |f|
    = hidden_field_tag :client_ID, @client.id
    = hidden_field_tag :escort_ID, @escort.id


    %h4
      Meet me at
      = text_field_tag :street, nil, placeholder:"5 Fifth Avenue", class:"output", required: true
      in
      = text_field_tag :city, nil, placeholder:"New York City", class:"output", required: true
      ,
      = text_field_tag :state, nil, placeholder:"NY", class:"output", required: true
      ,
      = text_field_tag :zip, nil, placeholder:"06250", class:"output", required: true

    %h4
      Tonight, in
      = text_field_tag :hours, nil, placeholder:"5", class:"output", required: true
      hours

    = f.hidden_field :price, value: (@escort.price)

    .actions
      = f.submit "#{@escort.price / 100} dollars", class: "btn btn-success"
