.container.text-center
  %h1= @escort.username

  .row
    .col-md-2.col-md-offset-2.info
      %p #{@escort.ethnicity}
      %p #{Time.now.year - @escort.dob.year} years old
      %p #{@escort.height} inches
      %p #{@escort.weight} pounds

    .col-md-4.img
      = image_tag "escort-pics/escort#{@escort.id}.png", width:'300px'

    .col-md-2.info
      %p #{@escort.eyec} eyes
      %p #{@escort.hairc} hair
      %p #{@escort.tit_type} breasts
      %p #{@escort.tit_size} cup

  = form_for @appointment, html:{role:"form"} do |f|
    = hidden_field_tag :client_ID, @client.id
    = hidden_field_tag :escort_ID, @escort.id


    %h4
      Meet me at
      %input{type:"text", id:"street", name:"street", value:"5 Fifth Avenue", class:"location-output"}
      in
      %input{type:"text", id:"city", name:"city", value:"New York City", class:"location-output"}
      ,
      %input{type:"text", id:"state", name:"state", value:"NY", class:"location-output"}
      ,
      %input{type:"text", id:"zip", name:"zip", value:"06295", class:"location-output"}


    %h2
      %b Where to Meet (Location)
    .form-inline
      = label_tag :street, "Street Address"
      = text_field_tag :street, nil, placeholder: "27 Jefferson Road", required:true

      = label_tag :city, "City"
      = text_field_tag :city, nil, placeholder: "New York", required:true
    .form-inline
      = label_tag :state, "State"
      = text_field_tag :state, nil, placeholder: "NY", required:true

      = label_tag :zip, "Zip Code"
      = text_field_tag :zip, nil, placeholder:"06295", required:true

    %h2
      %b When to Meet (Time)

    (TO DO: CALENDAR)
    = f.datetime_select :time

    %h2
      %b How much (Price)
    .form-inline
      = f.label :price, ((@escort.price / 100 ).to_s + " dollars")
      = f.hidden_field :price, value: (@escort.price)

    .actions
      = f.submit "Schedule", class: "btn btn-success"
